<%- include("headers/NavSisa", {title:"SINTETIK ADMIN"}) %>
  <h2 class="text-center">Welcome ADMIN</h2><br>
  <a href="/admin/addStock" class="text-center"><button>Add Stock Product</button></a><br><br>
  <table>
    <tr>
      <th>No</th>
      <th>Stock Name</th><br>
      <th>Description</th>
      <th>Price</th>
      <th>code</th>
      <th>Type</th>
      <th>Lot Amount</th>
      <th>
        Action
      </th>
    </tr>
    <% data.forEach((e,i) =>{ %>
      <tr>
        <td>
          <%= i+1 %>
        </td>
        <td>
          <%= e.name %>
        </td>
        <td>
          <%= e.description %>
        </td>
        <td>
          <%= e.money %>
        </td>
        <td>
          <%= e.code %>
        </td>
        <td>
          <%= e.type %>
        </td>
        <td>
          <%= e.Lot %>
        </td>
        <td>
          <a href="/admin/editStock/<%= e.id %>"><button>Edit</button></a>
          <a href="/admin/deleteStock/<%= e.id %>"><button>Delete</button></a>
        </td>
      </tr>
    <% }) %>
  </table>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
