<%- include("headers/NavAddEdit", {title:"SINTETIK:Edit Stock Stock Product"}) %>
<div>
  <h2 class="text-center">Edit Stock Product</h2>
  
  <form action="" method="post">
    
    <label for="">Stock Name</label><br>
    <input type="text" name="name" value="<%= data.name %>"><br>
    <label for="">Description</label><br>
    <textarea name="description" id="" cols="30" rows="10"><%= data.description %></textarea><br>
    <label for="">Price (IDR)</label><br>
    <input type="number" name="price" value="<%= data.price %>"><br><br>
    <label for="">Type</label><br>
        <select name="type" id="" >
          <option value="">--Choose--</option>
          <option <%= data.type === 'Finance'? 'selected':'' %> value="Finance">Finance</option>
          <option <%= data.type === 'Health'? 'selected':'' %> value="Health">Health</option>
          <option <%= data.type === 'Retail'? 'selected':'' %> value="Retail">Retail</option>
          <option <%= data.type === 'Misc'? 'selected':'' %> value="Misc">Misc</option>
        </select><br>
    <label for="">Lot Amount</label><br>
    <input type="number" name="Lot"value="<%= data.Lot %>"><br>
    <button>Edit Stock</button>
  </form>
 
  
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
