<%- include("headers/NavSisa", {title:"SINTETIK login"}) %>
<div class="login-form">
  <h2 class="text-center">Edit Stock</h2>
  <form action="" method="post">
    <% data.forEach((el) => { %>
    <label for="">Stock Name</label>
    <input type="text" name="name" value="<%= el.name %>">
    <label for="">Description</label>
    <textarea name="description" id="" value="<%= el.description %> cols="30" rows="10"></textarea>

    <label for="">Price</label>
    <input type="number" name="price" value="<%= el.price %>">
    <label for="">Code</label>
    <input type="text" name="code" value="<%= el.code %>">
    <label for="">Type</label>
        <select name="type" id="">
          <option <% %> value="Finance">Finance</option>
          <option value="Health">Health</option>
          <option value="Retail">Retail</option>
          <option value="Misc">Misc</option>
        </select>
    <label for="">Lot Amount</label>
    <input type="number" name="Lot" value="<%= el.Lot %>">
    <button>Edit Stock</button>
  </form>
  <% }) %>
  
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
